*{
    font-family: 'PT Sans', sans-serif;
}
.bar{
    background-color:#333333;
    display: -webkit-flex;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.bar1{
    color: white;
    padding-right: 50px;
}
.bar2{
    color: #b8b8b8;
    padding-right: 50px;
}

.second{

    padding-top: 10px;
    padding-bottom: 10px;
}
.p{
    max-width: 100%;
}
.q{
    padding-top: 7px;
    padding-left: 10px;
    color: #b8b8b8;
}
.r{
    color: #525151;
}
.s{
    padding-left: 15px;
}
.t{
    display: -webkit-flex;
    display: flex;
}
.bot{
    margin-bottom: 30px;
}